{% extends "index.html" %}

{% block index %}

<form class="row g-3" action="/alterar/salvar", method="POST">
    <div class="input-group mb-3">
        <input type="hidden" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="id" value={{registro.id}}>
        <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nome_produto" value={{registro.nome_produto}}>
        <span class="input-group-text" id="inputGroup-sizing-default">Descricao</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="descricao" value={{registro.descricao}} >
        <span class="input-group-text" id="inputGroup-sizing-default">Marca</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="marca" value={{registro.marca}}>
        <span class="input-group-text" id="inputGroup-sizing-default">Preco</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="preco" value={{registro.preco}}>
        <span class="input-group-text" id="inputGroup-sizing-default">Cor</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="cor" value={{registro.cor}}>
        <input class="btn btn-primary" type="submit" value="salvar">
        
    </div>
</form>
{% endblock %}